*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.clearfix {
  overflow: auto;
  clear: both;
}

.widget-container-full, .widget-container-half{
    width: 95vw;
}

svg{
    width: 4vw;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header",
        "navigation"
        "main";
}

.header{
    grid-area: header;
}

.navigation-bar{
    grid-area: navigation;
}

.main-content{
    grid-area: main;
    padding-left: 10px;
}

@media (min-width: 768px){

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .main-content{
        grid-template-columns: 50%;
    }

    .traffic, .social{
        grid-column: 1 / span 2;
    }

    .daily, .members, .message{
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }

    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }

    .header{
        background-color: rgb(115, 119, 191);
        text-align: center;
        color: white;
    }

    .header h1{
        font-size: 30px;
        float: left;
        padding-top: 15px;
    }

    .header div{
        float: right;
        padding-top: 20px;
    }

    .header div img{
        border-radius: 100px;
        width: 30px;
        margin-right: 10px;
        margin-bottom: 11px;
    }

    .header h3{
        float: right;
        margin-right: 10px;
        margin-top: 4px;
    }

    .header svg{
        width: 30px;
        padding-right: 15px;
        border-right: 1px solid gray;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .navigation-bar{
        background-color: rgb(115, 119, 191);
        width: 70px;
    }

    .navigation-bar a{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    .navigation-bar a img{
        width: 50%; 
        
    }

    .main-header{
        height: 70px;
    }

    .headline{
        float: left;
        line-height: 70px;
        color: gray;
        font-size: 1.4em;
    }

    .main-header-search{
        float: right;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        width: 82%;
        height: 65px;
    }

    .main-header-search input{
        float: right;
        width: 50%;
        height: 40px;
        margin-right: 30px;
        margin-top: 12px;
    }

    .alert{
        background-color: rgb(115, 119, 191);
        height: 40px;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-right: 22px;
        border-radius: 8px;
        color: white;
    }

    .alert-banner-text{
        float: left;
        padding-left: 20px;
    }

    .alert-banner-close{
        float: right;
        padding-right: 10px;
    }

    .alert-banner p{
        line-height: 40px;
    }

    .traffic-header h3{
        text-transform: uppercase;
        float: left;
    }

    .traffic-nav li{
        list-style: none;
        float: right;
        padding-left: 20px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 0.8em;
    }

    .traffic-nav li:first-child{
        padding-right: 10px;
    }

    .daily{
        float: left;
        margin-top: 30px;
    }

    .daily h3{
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 1em;
    }

    .mobile{
        float: right;
        margin-top: 30px;
    }


    .mobile h3{
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 1em;
    }

    .daily-content{
        border-right: 1px solid gray;
    }

    .daily h3{
        padding-top: 15px;
    }

    .mobile h3{
        margin-top: 15px;
        margin-left: 15px;
    }

    .widget-container-half{
        padding-bottom: 20px;
    }

    hr{
        color: gray;
    }

    .social-container{
        width: 100%;
        margin-bottom: 30px;
    }

    .social-container h3{
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .social-wrapper{
        float: left;
        border: 1px solid gray;
        width: 250px;
        height: 100px;
        margin-right: 45px;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }

    .social-image,
    .social-text{
        margin: 0px auto;
    }

    .social-wrapper svg{
        background: rgb(115, 119, 191);
        width: 100%;
        border-radius: 50%;

    }

    .social-image{
        width: 30%;
        float: left;
    }

    .social-text{
        float: right;
    }

    .social-name{
        color: rgb(115, 119, 191);
        font-weight: bold;
        justify-content: space-between;
        font-size: 1.5em;
    }

    .social-number{
        font-size: 3em;
    }


    .members{
        padding-top: 30px;
        width: 50%;
        float: left;
        border-right: 1px solid gray;
    }

    .members-container,
    .activity-container{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .members-text{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }

    .date{
        font-size: 0.8em;
        margin-left:auto;
        margin-right: 10px;
    }

    .profile-image{
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .activity{
        float: right;
        margin-top: 30px;
        width: 49.8%;
    }

    .activity h3{
        padding-left: 10px;
    }

    .line-activity{
        margin-left: 10px;
    }

    .activity-container{
        padding-left: 10px;
    }

    .line-margin{
        margin-right: 10px;
        margin-top: 14px;
    }

    .members,
    .activity{
        padding-bottom: 30px;
        border-bottom: 1px solid gray;
    }

    .message{
        float: left;
        width: 50%;
        border-right: 1px solid gray;
    }

    .message,
    .settings{
        padding-top: 20px;
        margin-bottom: 40px;
        height: 350px;
    }

    .settings{
        float: right;
        width: 49.8%;
    }

    input,
    textarea{
        width: 90%;
        margin-top: 20px;
        border-radius: 5px;
    }

    input{
        height: 40px;
    }

    textarea{
        height: 130px;
    }

    ::placeholder{
        padding-left: 10px;
    }

    textarea::placeholder{
        padding-top: 10px;
    }

    .button-primary{
        width: 90%;
        margin-top: 12px;
        height: 40px;
        background-color: rgb(115, 119, 191);
        border-style: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 5px;
    }

    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: rgb(115, 119, 191);
    }

    input:focus + .slider {
    box-shadow: 0 0 1px rgb(115, 119, 191);
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }

    .switch-section{
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        margin-top: 30px;
        padding-left: 20px;
    }

    .settings h3{
        padding-left: 20px;
    }

    .form-time{
        width: 90%;
        margin-left: 20px;
        margin-top: 40px;
        padding-left: 20px;
        height: 40px;
        border-radius: 5px;
    }

    .second-button{
        margin-left: 20px;
        width: 40%;
    }

    #cancel{
        width: 40%;
        height: 40px;
        background-color: gray;
        border-style: none;
        border-radius: 5px;
        color: white;
        margin-left: 40px;
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
    }

    
    
}